<div *ngIf="category">
  <h1>{{ category.name }}</h1>
</div>

<!-- Extra -->
<div id="extra">
  <div class="container">
    <div class="row no-collapse-1">
      <section class="4u" *ngFor="let product of products">
        <a href="#" class="image featured">
          <img [src]="product.imageUrl" alt="">
        </a>
        <div class="box">
          <h1>{{ product.name }}</h1>
          <p>{{ product.description }}</p>
          <a [routerLink]="['/products', product.name]" class="button">Zobacz</a>
        </div>
      </section>
    </div>
  </div>
</div>
