<!-- Header -->
<div id="header" class="skel-panels-fixed">
  <div id="logo">
    <h1><a href="index.html">Katalog produktów</a></h1>
    <span class="tag">Online</span>
  </div>
  <nav id="nav">
    <ul>
      <li class="active"><a href="index.html">Strona główna</a></li>
      <li><a href="/category-list">Kategorie</a></li>
      <li><a href="/new-products">Nowości</a></li>
      <li><a href="/coming-soon">Nadchodzące</a></li>
      <li><a href="/tos">Warunki usługi</a></li>
      <li><a href="/privacy-policy">Polityka prywatności</a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
