<!-- Extra -->
<div id="extra">
  <div class="container">
    <header class="major">
      <h2>Kategorie</h2>
      <span class="byline">Szukasz czegoś konkretnego?</span>
    </header>
    <div class="row no-collapse-1">
      <section class="4u" *ngFor="let category of categories">
        <div class="box">
          <h1>{{ category.name }}</h1>
          <a [routerLink]="['/category-list', category.name]" class="image featured">
          <img [src]="category.imageUrl" alt="">
        </a>
<!--          <p>{{ product.description }}</p>-->
<!--          <a [routerLink]="['/category-list', category.name]" class="button">Zobacz</a>-->
        </div>
      </section>
    </div>
  </div>
</div>
