<!--&lt;!&ndash; Banner &ndash;&gt;-->
<!--<div id="banner" class="container">-->
<!--  <section>-->
<!--    <p>This is <strong>Phase Shift</strong>, a responsive HTML5 site template freebie by <a href="http://templated.co">TEMPLATED</a>. Released for free under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so use it for whatever (personal or commercial) &ndash; just give us credit! Check out more of our stuff at <a href="http://templated.co">our site</a> or follow us on <a href="http://twitter.com/templatedco">Twitter</a>.</p>-->
<!--    <a href="#" class="button medium">Read More</a>-->
<!--  </section>-->
<!--</div>-->

<!-- Extra -->
<div id="extra">
  <div class="container">
    <header class="major">
      <h2>Produkty</h2>
      <span class="byline">Oto kilka z naszych produktów.</span>
    </header>
    <div class="row no-collapse-1">
      <section class="4u" *ngFor="let product of products">
        <div class="box">
          <h1>{{ product.name }}</h1>
          <a [routerLink]="['/products', product.name]" class="image featured">
            <img [src]="product.imageUrl" alt="">
          </a>
          <!--          <p>{{ product.description }}</p>-->
          <!--          <a href="#" class="button">Read More</a>-->
        </div>
      </section>
    </div>
  </div>
</div>


<!--&lt;!&ndash; Main &ndash;&gt;-->
<!--<div id="main">-->
<!--  <div class="container">-->
<!--    <div class="row">-->

<!--      &lt;!&ndash; Content &ndash;&gt;-->
<!--      <div class="6u">-->
<!--        <section>-->
<!--          <ul class="style">-->
<!--            <li class="fa fa-wrench">-->
<!--              <h3>Integer ultrices</h3>-->
<!--              <span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>-->
<!--            <li class="fa fa-leaf">-->
<!--              <h3>Aliquam luctus</h3>-->
<!--              <span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>-->
<!--          </ul>-->
<!--        </section>-->
<!--      </div>-->
<!--      <div class="6u">-->
<!--        <section>-->
<!--          <ul class="style">-->
<!--            <li class="fa fa-cogs">-->
<!--              <h3>Integer ultrices</h3>-->
<!--              <span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>-->
<!--            <li class="fa fa-road">-->
<!--              <h3>Aliquam luctus</h3>-->
<!--              <span>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Maecenas condimentum enim tincidunt risus accumsan.</span> </li>-->
<!--          </ul>-->
<!--        </section>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
