<!-- Extra -->
<div id="extra">
  <div class="container">
    <header class="major">
      <h2>Nadchodzące</h2>
      <span class="byline">Niebawem w sprzedaży...</span>
    </header>
    <div class="row no-collapse-1">
      <section class="4u" *ngFor="let product of products">
        <div class="box">
          <h1>{{ product.name }}</h1>
          <a [routerLink]="['/products', product.name]" class="image featured">
            <img [src]="product.imageUrl" alt="">
          </a>
          <!--          <p>{{ product.description }}</p>-->
<!--          <a href="#" class="button">Read More</a>-->
        </div>
      </section>
    </div>
  </div>
</div>
